@font-face {
  font-family: "SFProText";
  src: url("./static/fonts/SF-Pro-Text-Regular.otf");
}
@font-face {
  font-family: "SFProDisplay";
  src: url("./static/fonts/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "SFProText";
  src: url("./static/fonts/SF-Pro-Text-Bold.otf");
  font-weight: bold;
}


* {
  font-family: "SFProText";
}

:focus {
  outline: none;
}
